<div class="container mt-5">
    <h2 class="mb-4">Create a Post</h2>
    <form class="new-sw-post-form">
        <div class="mb-3">
            <label for="title-new-sw-post" class="form-label">Post Title:</label>
            <input type="text" class="form-control" id="title-new-sw-post" placeholder="Enter post title..." />
        </div>
        <div class="mb-3">
            <label for="content-new-post" class="form-label">Post:</label>
            <textarea class="form-control" id="content-new-sw-post" rows="8" placeholder="Start posting..."></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Post!</button>
        </div>
    </form>
</div>